{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}

{{!
    @template local_greeting/messages

    Template for displaying saved greeting messages.

    Example context (json):
    {
        "messages": [
            {
                "message": "Hello from Moodle!",
                "timecreated": 1717070400
            }
        ]
    }
}}

<div class="box py-3 card-columns">
{{#messages}}
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{message}}</p>
            <p class="card-text">{{#str}} postedby, local_greetings, {{firstname}} {{/str}}</p>
            <p class="card-text">
                <small class="text-muted">
                    {{#userdate}} {{timecreated}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}} {{/userdate}}
                </small>
            </p>
        </div>
    </div>
{{/messages}}
</div>